.heading-application {
  margin-top: 1%;
}

.heading-items {
  margin: 1% 0;
}

.item-name {
  font-size: 20pt;
}

.item-name-show {
  font-size: 60pt;
}

.button-show {
  margin: 1% 0;
}

.show-well {
  margin-top: 3%;
  padding: 5% 0;
}

a:hover {
  text-decoration: none;
}
