<form {{action "save" model on="submit"}}>
  <p>
    <label>Item Name:
      {{input value=model.name}}
    </label>
  </p>
  <input class="btn btn-primary" type="submit" value="Save"/>
  <button class="btn" {{action "cancel"}}>Cancel</button>
</form>
