<div class="row">
  <div class="text-center">
    {{#link-to 'items.new' class="btn btn-primary btn-lg button-show"}}Add New Item{{/link-to}}
    <button {{action "toggleItemView" "all"}} class="btn btn-default btn-lg button-show">View All Items</button>
    <button {{action "toggleItemView" "keep"}} class="btn btn-warning btn-lg button-show">View Items to Keep</button>
    <button {{action "toggleItemView" "discard"}} class="btn btn-success btn-lg button-show">View Items to Discard</button>
  </div>

  <div class="text-center">
    <h1 id="title">KonMari All The Things</h1>
  </div>
</div>
