<div class="row text-center heading-items">
  <h2>Total Items: {{model.length}} </h2>
</div>

<div class="row text-center">
  {{#link-to "items.show" 1 class="btn btn-primary btn-lg button-show"}}Begin{{/link-to}}
</div>

{{items-table model=model}}
