<div class="row text-center heading-items">
  <h2>{{model.name}}</h2>
</div>

<div class="row text-center">
  {{#link-to "items.edit" model.id class="btn btn-primary btn-lg button-show"}}Edit Item{{/link-to}}
  {{#link-to "items.index" class="btn btn-default btn-lg button-show"}}All Items{{/link-to}}
</div>
